<%- include('includes/head.ejs') %>

    <body>

        <%- include('includes/navigation.ejs') %>
            <!-- breadcrumb part start-->
            <section class="breadcrumb_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb_iner">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb part end-->

            <!-- product list part start-->
            <section class="about_us padding_top">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="about_us_content">
                                <h5 style="color: #fdb957; text-align: center;"> Our Mission</h5>
                                <h4 style="text-align: center; color: rgba(14,12,12,0.8);">To create the ultimate jewelry shopping experience for our guests; not simply by meeting our guest's needs, but offering excellent value, selection, and exceeding their expectations.</h4>
                                <h5 style="color: #fdb957; text-align: center;">SINCE 2019</h5>
                                <h3 style=" color: rgba(14,12,12,0.8);text-align: center">925 HIGH QUALITY PURE SILVER </h3>
                                <div class="about_us_video" style="text-align: center;">
                                    <iframe width="727" height="409" src="https://www.youtube.com/embed/e-PQTnR9M-M" title="Zodiak-silver" frameborder="0" allowfullscreen></iframe> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product list part end-->

            <%- include('includes/feature-sub.ejs') %>

                <%- include('includes/end.ejs') %>